/*body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}*/
.about *{
	font-family: "微软雅黑";
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.about{
	background-image: url(../img/about/about.jpg);
	position: relative;
	background-repeat:no-repeat;
	width: 100%;
	height: 1080px;	
	margin: 0;
	padding: 0;
}
.about input{
 display: none;
}

/*对三个选项的设置*/
.tab{
	width: 6%;
	position: absolute;
	bottom: 0px;
	cursor: pointer;
	color: #fff;
	opacity: 0.3;
}
.tab h1,
.tab h3{
	text-align: center;
	height: 35px;
	line-height: 35px;
}
.tab:nth-of-type(1) {
  left: 38%;
}

.tab:nth-of-type(2) {
 left: 46%;
}

.tab:nth-of-type(3) {
 left: 54%;
}

/*选项的单击效果*/
.tab{
	transition: all 0.5s;
}
#tab-one:checked ~ .tab:nth-of-type(1){
	color: #5EDFCC;
	opacity: 1;
}
#tab-two:checked ~ .tab:nth-of-type(2){
	color: #5EDFCC;
	opacity: 1;
}
#tab-three:checked ~ .tab:nth-of-type(3){
	color: #5EDFCC;
	opacity: 1;
}
/*旋转的盒子*/
.cube{
	position: relative;
	width: 1500px;
	margin: auto;
	height: 930px;
	top: 75px;
	transform-style: preserve-3d;
}
.tab-content{
	position: absolute;

	width: 100%;
	height: 100%;
	text-align: center;
  	transition: all 0.8s ease-in;
	z-index: 2;
	opacity: 0;
}
.cube .tab-content:nth-child(2){
	transform: rotateY(-90deg) translateX(1px);

}
.cube .tab-content:nth-child(3){
	transform: rotateY(90deg);

}

#tab-one:checked ~ .cube > .tab-content:nth-child(1) {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  opacity: 1;  
}
#tab-two:checked ~ .cube > .tab-content:nth-child(2) {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  opacity: 1;
}

#tab-three:checked ~ .cube > .tab-content:nth-child(3) {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  opacity: 1;  
}

/*下面的是工作室简介的css样式*/
.tab_content h1{
	display: block;
	text-align: center;
	margin-top: 20px;
	margin-bottom:50px ;
	line-height: 1em;
}
.tab_content h2{
	display: block;
	text-align: left;
	margin:20px 100px;
	line-height: 1em;
	transition: all 0.5s;
}
.tab_content{
	position: absolute;
	right: 20px;
	bottom: 300px;
	width: 800px;
	color: #fff;
	
}
.tab-content figure{
	position: absolute;
	width: 600px;
	/*height: 800px;*/
	left: 20px;
	/*bottom: 80px;*/
	/*border: 1px solid #fff;*/
}
.tab-content figure img{
	width: 100%;
/*	height: 100%;*/
}
.tab_content h2:hover {
	background-color: rgba(0,0,0,0.3);
	
	transform:scale(1.2,1.2);  
	color: #ace;
	padding: 10px;
	border-radius:30px;
}

/*图片的hover效果*/
.tab-content-one,
.tab-content-two{
	display: inline-block;
	position: relative;
	margin: 100px 50px;
	width: 250px;
	height: 250px;
}
.tab-content-one h3,
.tab-content-one img,
.tab-content-two h3,
.tab-content-two img{
	transition: all 0.5s;
}
.tab-content-one h3,
.tab-content-two h3{
	position: absolute;
	opacity: 0;
	top: 100px;
	left: 100px;
	text-align: center;
	height: 30px;
	line-height: 30px;
}
/*.tab-content-two::after{
	position: absolute;
	bottom: 0;
	height: 250px;
	width: 250px;
	background-color: rgba(255,255,255,0.5);
	z-index: 5;
}*/
.tab-content-one:hover img,
.tab-content-two:hover img{
	transform:scale(1.2,1.2);  
}
.tab-content-one:hover h3,
.tab-content-two:hover h3{
	opacity: 1;
	
}

.tab-content-one img,
.tab-content-two img{
	widows: 100%;
	height: 100%;
}
