body{
	margin: 0;
	padding: 0;
}
/*导航条*/

/*首页*/

/*关于我们*/
.about{
	height: 750px;
	background-color: #f00;
}

/*工作历程*/
.job{
	height: 750px;
	background-color: #f0f;
}

/*主营业务*/
.business{
	height: 750px;
	background-color: #0ff;
}

/*联系方式*/
.contact{
	height: 750px;
	background-color: #ff0;
}
/*尾部*/
footer{
	height: 50px;
	background-color: #000;
}
