.menu *,
.home *{
	margin: 0;
	padding: 0;
}
clearfix::after{
	content: "";
	display: table;
	clear: both;
}
.menu{
	width: 100%;
	height: 25%;
	position: fixed;
	z-index: 111;
}
.menu ul{
	margin: 0;
	padding: 0;
}
.menu ul li{
	list-style-type: none;
	float: right;
}
.imgalist{
	display: none;
	position: absolute;
	width: 180px;
	margin-top: 20px;
	left: 50px;
	/*margin: 20px 800px 0px 20px;*/
	
}
.menu ul li a{
	border-top: 10px solid rgba(95, 224, 190,0);
	text-decoration: none;
	padding-top:15px ;
	text-indent: 10px;
	font-size: 18px;
	line-height: 60px;
	color: rgba(255,255,255,.4);
	text-decoration: none;
	margin-right:50px ;
	transition: all .5s;
}
.menu ul li:hover a{
	border-top: 10px solid rgba(95, 224, 190,1);
	color:rgba(95, 224, 190,1);
}

/*首页*/
.home{
	height: 750px;
	background-color: #fff;
	background: url(../img/menu.jpg);
	background-size: 100%;
	position: relative;
}
.home img{
	width: 50px;
	height: 50px;
	position: absolute;
	margin-top: 650px;
	margin-left: 49%;
	opacity: 0.5;
} 

