header{
	background-color: #282828;
}
.menu li.bottom{
	width: 50px;
	height: 3px;
	background-color: #ff5c00;
	position:absolute;
	bottom: 0px;
	left: 325px;
	transition:left .5s;
}
.menu li:nth-child(2):hover~li.bottom{
	left:125px;
}
.menu li:nth-child(3):hover~li.bottom{
	left: 225px;
}
.menu li:nth-child(1):hover~li.bottom{
	left:25px;
}

/*轮番效果*/
@-moz-keyframes slidy{
	0% {left: 0%;}
	5% {left: 0%;}
	25% {left: -100%;}
	30% {left: -100%;}
	50% {left: -200%;}
	55% {left: -200%;}
	75% {left: -300%;}
	80% {left: -300%;}
	100% {left: 0%;}
}
@-ms-keyframes slidy{
	0% {left: 0%;}
	5% {left: 0%;}
	25% {left: -100%;}
	30% {left: -100%;}
	50% {left: -200%;}
	55% {left: -200%;}
	75% {left: -300%;}
	80% {left: -300%;}
	100% {left: 0%;}
}
@-webkit-keyframes slidy{
	0% {left: 0%;}
	5% {left: 0%;}
	25% {left: -100%;}
	30% {left: -100%;}
	50% {left: -200%;}
	55% {left: -200%;}
	75% {left: -300%;}
	80% {left: -300%;}
	100% {left: 0%;}
}
@keyframes slidy{
	0% {left: 0%;}
	5% {left: 0%;}
	25% {left: -100%;}
	30% {left: -100%;}
	50% {left: -200%;}
	55% {left: -200%;}
	75% {left: -300%;}
	80% {left: -300%;}
	100% {left: 0%;}
}
.img{
	overflow: hidden;
	margin-top: 60px;	
}
.img figure img{
	width: 25%;
	float: left;
}
.img figure{
	position: relative;
	width: 400%;
	margin: 0;
	left: 0;
	text-align: left;
	font-size: 0;
	-moz-animation:  15s slidy infinite;
	-ms-animation:  15s slidy infinite;
	-webkit-animation:  15s slidy infinite;
	animation: 15s slidy infinite;
}
.content{
	overflow: hidden;
	position: relative;
	top: 0px;
	left: 0;
	right: 0;
	width: 60%;
	bottom: 0px;
	margin: auto;
}
.content .content_div{
	float: left;
	width: 50%;
	height: 450px;
	padding: 0 5%;
	margin: auto;
}
.content h1{
	text-align: center;
	margin-top: 30px;
}
.content .content_div p{
	text-indent: 2em;
	line-height: 2;
	font-weight: bold;
}
.content .content_div ol li{
	list-style: circle;
	line-height: 2;
	font-weight: bold;
	margin-top:15px;
}
.content .content_line{
	box-sizing: border-box;
	z-index: 3;
	position: absolute;
	top: 6%;
	left: 0;
	right: 0;
	margin: auto;
	height: 34%;
	width: 1px;
	border: 2px dashed #FFDD55;
}
.content .content_img{
	width: 100%;
	margin-bottom: 20px;
}
.content .content_img img{
	width: 100%;
}
